<div>
    <h5 class="text-lg font-semibold mt-4">OVERDUE (<span id="count-overdue"><%= overdueTodos.length %></span>)</h5>
    <ul class="list-none">
        <% overdueTodos.forEach(function(todo) { %>
            <li class="Todo-item">
                <div class="flex items-center w-fit my-2 px-2 py-1 rounded bg-red-50">
                    <input id="todo-checkbox-<%= todo.id %>" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300" <%= todo.completed ? 'checked' : '' %> onclick="updateTodo(<%= todo.id %>)">
                    <label for="todo-checkbox-<%= todo.id %>" class="ml-2 text-sm text-gray-600 cursor-pointer"><%= todo.title %></label>
                    <a href="#" class="ml-2 text-red-600 hover:text-red-800" onclick="deleteTodo(<%= todo.id %>); return false;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </a>
                </div>
            </li>
        <% }); %>
    </ul>

    <h5 class="text-lg font-semibold mt-4">DUE TODAY (<span id="count-due-today"><%= dueTodayTodos.length %></span>)</h5>
    <ul class="list-none">
        <% dueTodayTodos.forEach(function(todo) { %>
            <li class="Todo-item">
                <div class="flex items-center w-fit my-2 px-2 py-1 rounded bg-green-50">
                    <input id="todo-checkbox-<%= todo.id %>" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300" <%= todo.completed ? 'checked' : '' %> onclick="updateTodo(<%= todo.id %>)">
                    <label for="todo-checkbox-<%= todo.id %>" class="ml-2 text-sm text-gray-600 cursor-pointer"><%= todo.title %></label>
                    <a href="#" class="ml-2 text-red-600 hover:text-red-800" onclick="deleteTodo(<%= todo.id %>); return false;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </a>
                </div>
            </li>
        <% }); %>
    </ul>

    <h5 class="text-lg font-semibold mt-4">DUE LATER (<span id="count-due-later"><%= dueLaterTodos.length %></span>)</h5>
    <ul class="list-none">
        <% dueLaterTodos.forEach(function(todo) { %>
            <li class="Todo-item">
                <div class="flex items-center w-fit my-2 px-2 py-1 rounded bg-yellow-50">
                    <input id="todo-checkbox-<%= todo.id %>" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300" <%= todo.completed ? 'checked' : '' %> onclick="updateTodo(<%= todo.id %>)">
                    <label for="todo-checkbox-<%= todo.id %>" class="ml-2 text-sm text-gray-600 cursor-pointer"><%= todo.title %></label>
                    <a href="#" class="ml-2 text-red-600 hover:text-red-800" onclick="deleteTodo(<%= todo.id %>); return false;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </a>
                </div>
            </li>
        <% }); %>
    </ul>
</div>
